*{
    margin:0px;
    padding:0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}
nav{
    background-color: rgba(156, 209, 191, 0.349);
    height: 50px;
    width:100%;
    text-decoration-style: none;


}
nav ul {
    list-style: none;
    float:right;
    margin: 10px;
    padding:5px;
}
nav ul li{
    float:left;
    border: 5px;
    margin-left: 15px;
}
.showcase{
    text-align: center;
    width: 100%;
    height:calc(100vh-300px);
    padding-top: 100px;

}