* {
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}
h1 {
    padding: 20px;

}
nav {
  background-color: rgba(60, 176, 137, 0.635);
  height: 50px;
  width: 100%;
  
  
}
nav ul {
  list-style: none;
  float: right;
  margin: 10px;
  padding: 5px;
}
nav ul li {
  float: left;
  border: 5px;
  margin-left: 15px;
  text-decoration: none;
  background-color: aliceblue;
  border-radius: 5px;
}
.navbar {
  font-size: 40px;
  text-align: center;
  
}
.showcase {
  text-align: center;
  width: 100%;
  height: calc(100vh-300px);
  padding-top: 100px;
}
.showcase h3{
    font-size: 40px;
    font-weight: bold;
}
.showcase button{
    border-style: none;
    background-color: aquamarine;
    padding: 16px;
    border-radius: 10px;

}
