* {
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  align-items: center;
}

.loginPanel {
  height: calc(100vh-10px);
  width: 40%;
  border: 15px solid rgba(47, 24, 226, 0.269);
  padding: 60px;
  margin: 20px;
  margin-left: 50px;
  line-height: 20px;
  float: left;
}
.board {
  list-style: none;
  float: left;
  text-align: center;
  font-weight: 600;
  margin-top: 50px;
  width: 50% ;
}
.board a {
  text-decoration: none;
}
.board ul li{
    font-style:bold;
    font-weight: 600;
}
